{% extends 'base.html' %}
{% block title %}Mini-X | Detalle Post{% endblock %}

{% block content %}
<!-- Post -->

<div class="card">
    <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
            <a href="{% url 'perfil' post.usuario.pk %}" class="link-dark link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover">
                {% if post.usuario.perfil.nombre %}
                <p><strong>{{ post.usuario.perfil.nombre }}</strong>
                {% else %}
                <p><strong>{{ post.usuario.username }}</strong>
                {% endif %}
                - <span class="text-secondary"> @{{ post.usuario.username }} · {{ post.created_at|timesince }}</span></p>
            </a>
            <div>
                {% if user.is_authenticated and user == post.usuario %}
                <a href="{% url 'editar_post' post.pk %}" class="btn btn-outline-primary btn-sm">Editar</a>
                <a href="{% url 'eliminar_post' post.pk %}" class="btn btn-outline-danger btn-sm">Eliminar</a>
                {% endif %}
            </div>   
        </div>
    
        <p>{{ post.contenido }}</p>

        <form action="{% url 'like_post_detalle' post.pk %}" method="post">
            {% csrf_token %}
            {% if user in post.likes.all %}
                <button class="btn btn-light btn-sm" type="submit">
                    <i class="fa-solid fa-heart text-danger"></i> {{ post.total_likes }}
                </button>
            {% else %}
                <button class="btn btn-light btn-sm" type="submit">
                    <i class="fa-regular fa-heart text-secondary"></i> {{ post.total_likes }}
                </button>
            {% endif %}
        </form>
    </div>
</div>

<!-- Formulario Comentario -->
 
<h4 class="mt-4 mb-3">Comentarios</h4>

{% if user.is_authenticated %}
<form method="POST">
    {% csrf_token %}
    <div class="input-group mb-3">
        <textarea name="contenido" class="form-control mt-2" placeholder="Deja un comentario aquí" id="floatingTextarea" required></textarea>
        <button class="btn btn-outline-primary btn-sm mt-2" type="submit" id="button-addon2">Responder</button>
    </div>

</form>
{% else %}
<p>Debes <a href="{% url 'login' %}">iniciar sesión</a> para comentar.</p>
{% endif %}

<!-- Comentarios -->
 
{% for comentario in comentarios %}
<div class="mb-3 p-3" style="background:#f7f7f7; border-radius: 12px;">
    <a href="{% url 'perfil' comentario.usuario.pk %}" class="fw-bold text-dark text-decoration-none">
        @{{ comentario.usuario.username }}
    </a>
    <p class="mb-1 mt-2">{{ comentario.contenido }}</p>
    <small class="text-muted">{{ comentario.created_at|date:"H:i d/m/Y" }}</small>
</div>
{% empty %}
<p class="text-muted">No hay comentarios aún.</p>
{% endfor %}

{% endblock %}