{% extends "base.html" %}

{% block title %}Perfil de {{ perfil.usuario.username }}{% endblock %}

{% block content %}
  <!-- Información del Usuario -->
<div class="pb-3 border-bottom mb-4">
  <div class="d-flex justify-content-between align-items-center">
    <h2 class="fw-bold m-0">
      {% if perfil.nombre %}
        {{ perfil.nombre }}
      {% else %}
        {{ perfil.usuario.username }}
      {% endif %}
    </h2>

    {% if user == perfil.usuario %}
      <a href="{% url 'editar_perfil' %}" class="btn btn-outline-primary btn-sm">
        <i class="fa-solid fa-pen-to-square"></i> Editar perfil
      </a>
    {% endif %}
  </div>

  <p class="text-secondary mt-1">@{{ perfil.usuario.username }}</p>
  <p class="mt-2">{{ perfil.biografia }}</p>
</div>

  <!-- Lista de Publicaciones -->
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h3>Publicaciones</h3>
    {% if user == perfil.usuario %}
    <a href="{% url 'crear_post' %}" class="btn btn-outline-primary btn">
      <i class="fa-solid fa-plus me-1"></i> Nuevo
    </a>
    {% endif %}
   </div>
  
   <ul class="list-group">
  {% for post in posts %}
    <li class="list-group-item">
      <div class="p-2">
        <!-- Usuario y tiempo -->
        <p><a href="{% url 'perfil' post.usuario.pk %}" class="link-dark link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover"><strong>@{{ post.usuario.username }}</strong></a> · {{ post.created_at|timesince }}</p>

        <!-- Contenido del post -->
        <a class="link-dark link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="{% url 'detalle_post' post.pk %}">
            <div><p>{{ post.contenido }}</p></div>
        </a>

        <!-- Botones de like y comentarios -->
        <form action="{% url 'like_post_perfil' post.pk %}" method="post">
            {% csrf_token %}
            {% if user in post.likes.all %}
                <button class="btn btn-light btn-sm" type="submit">
                    <i class="fa-solid fa-heart text-danger"></i> {{ post.total_likes }}
                </button>
            {% else %}
                <button class="btn btn-light btn-sm" type="submit">
                    <i class="fa-regular fa-heart text-secondary"></i> {{ post.total_likes }}
                </button>
            {% endif %}
                <a href="{% url 'detalle_post' post.pk %}" class="btn btn btn-light btn-sm">
                    <i class="fa-regular fa-comment"></i> {{ post.total_comentarios }}
                </a>
      </div>
    </li>
  {% endfor %}
  </ul> 
{% endblock %}